
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #F7FAFC;
    z-index: 1000;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #2D3748;
    color: white;
    padding: 20px;
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.profile p {
    font-size: 0.9rem;
    color: #CBD5E0;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #4A5568;
    transition: background 0.3s;
}

nav ul li a:hover, .active {
    background-color: #718096;
}

nav ul li a i {
    font-size: 1.2rem;
    vertical-align: middle;
}

/* Tombol logout di bagian bawah */
.logout-form {
    text-align: center;
    margin-top: auto;
    padding: 20px;
}

/* Desain Tombol Logout */
.logout-btn {
    background-color: #dc3545; /* Warna merah */
    color: white;
    border: none;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #c82333; /* Warna merah lebih gelap saat hover */
}

/* Main Content */
.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

/* Responsive */
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 20px;
}


.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }

    .sidebar {
        left: -250px;
        transition: left 0.3s ease-in-out;
    }

    .sidebar.open {
        left: 0;
    }

    .menu-btn {
        display: block;
    }

    .close-btn {
        display: block;
    }
}
.pesan-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.pesan-succes {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
